.App {
  background-color: #282c34;
  color: rgb(212, 211, 211);
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
}

.Applink {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
